# Ignore SQLite database file
app.db

# Ignore alembic migrations (except versions folder)
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment (if using venv)
venv/
.env

# Ignore VS Code settings (optional)
.vscode/

credintials.json

.venv
.poetry-cache/artifacts/66/31/78/fde53410ee8cfcee151a8fd46b33a872798521fe1fd21c317ee642ac36/h11-0.16.0-py3-none-any.whl
.poetry-cache
token.json
src/app/credentials.json
src/app/credentials.json
credentials.json
